 
body
{
  background: #000099;

}
p.welcome
{
    font-size: 50px;
}

 div.wrap { 
    width:750px;
    margin:auto;
    background:yellow;
    }

    
  
    dt.title_column
    {
      background-color:#E6E6FA;   
    }
      p.title
    {
       text-align: left;
       line-height: 1.5em;
       font-weight: bold;
       font-size: 20px;
       background-color: rgb(255,0,255);
    }
    p.title_column
    {
       text-align: left;
       line-height: 0em;
       font-weight: bold;

    }
    section.Col1
    {
    float:left;
    width:500px;
    }
    section.Col2
    {
    position:absolute;
    right:0px;
    top:0px;
    float:right;
    width:250px;
    background:#a7a09a;
    }
    p.side-bar
    {
        text-align: center;

    }