 
body
{
    background-image:url('images/background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover

}
p.welcome
{
    font-size: 50px;
    color: #FFFFFF;
    text-decoration: underline;
}

 div.wrap { 
    width:750px;
    margin:0 auto;
    background:#A4A4A4;
    }

   p.body
   {
    text-indent: 20px;
   }
    
    dt
    {
    border-style:solid;
    border-color:#000000;
    background-color:#E6E6FA;
    }
    dt.title_column
    {
      background-color:#E6E6FA;   
    }
    div.row
    {
     border-style:solid;
    border-color:#000000;
    text-align: left; 

    }
      p.title
    {
        
        text-align: center;
       line-height: 0em;
       font-weight: bold;
       color: #084B8A;
    }
    p.title_column
    {
         text-align: left;
       line-height: 0em;
       font-weight: bold;

    }
    section.Col1
    {
    float:left;
    width:500px;
    background:#9c9;
    }
    section.Col2
    {
    position:absolute;
    right:0px;
    top:0px;
    float:right;
    width:250px;
    background:#a7a09a;
    background-image: url('images/background2.jpg');
    }
    p.side-bar
    {
        text-align: center;
    }
    div.skills
    { 
         vertical-align: top;
         width: 300px;
         display: inline-block;
    }

